/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

body {
  background-color: black;
  padding-top: 10rem;
}

.team {
  width: 100%;
  display: flex;
  padding: 1rem;
}

.light {
  width: 100%;
  height: 10rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;  
  font-size: 4rem;
  font-weight: bold;
  background-color: #666;
}

.team-name {
  width: 100%;
  height: 10rem;
  font-size: 4rem;
}

.buzzed .light {
  background-color: white;
  box-shadow: 0 0 2rem #fff;
}

.score {
  display: flex;
  width: 20rem;
  height: 10rem;
  margin-left: 5rem;
  align-items: center;
  justify-content: right;  
  font-size: 8rem;
  font-weight: bold;
  color: #4F4;
}

#help {
  margin: 5rem auto 0 auto;
  padding-left: 1rem;
}

kbd {
  border: 1px solid #444;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  line-height: 1.4;
  color: black;
  background-color: #888;
}

#help dl, #help dt, #help dd {
  display: inline;
}

#help dt {
  margin: 0 1rem 0 0;
}

#help dd {
  margin: 0 5rem 0 0;
  color: #888;
}
