/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

body {
  background-color: black;
  padding-top: 10rem;
}

.team {
  width: 100%;
  display: flex;
  padding: 1rem;
}

.light {
  width: 100%;
  height: 10rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;  
  font-size: 4rem;
  font-weight: bold;
  background-color: #666;
}

.buzzed .light {
  background-color: white;
  box-shadow: 0 0 2rem #fff;
}

.score {
  display: flex;
  width: 20rem;
  height: 10rem;
  margin-left: 5rem;
  align-items: center;
  justify-content: right;  
  font-size: 8rem;
  font-weight: bold;
  color: #4F4;
}
